<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test thread-count="5" name="Test">
		<classes>
			<class name="YarnTenantPortal.AutomationTestCases.loginPage" />
			<class name="YarnTenantPortal.AutomationTestCases.forgotPassword" />
			<class name="YarnTenantPortal.AutomationTestCases.AppTest" />

		</classes>
	</test> <!--
	Test -->
</suite> <!--
Suite -->
